body{
	background-color: #c4c4c4;
}
.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

.cho{
	font-weight: bold;
}

.lema{
	font-size: 0.5em;
}