body{
	background-color: rgba(0, 145, 255, 0.22);
    background-image: url(../img/pattern.png);
}

.cebecera{
	background-color: rgba(232, 255, 0, 0.55);
    border-radius: 8px;
    padding: 4px;
}
.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

.cho{
	font-weight: bold;
}

.lema{
	font-size: 0.7em;
}